@page
@model WaterProject.Pages.DonateModel
@{
}


<h2> Your basket</h2>



<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Cost</th>
            <th>Subtotal</th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody>
        @foreach( var project in Model.basket.Items)
            {
        <tr>
            <td>@project.Project.ProjectName</td>
            <td>@project.Quantity</td>
            <td>$25.00</td>
            <td>@((project.Quantity * 25).ToString("c"))</td>
            <td class="text-center">
                <form method="post" asp-page-handler="Remove">
                    <input type="hidden" name="projectId" value="@project.Project.ProjectId" />
                    <input type="hidden" name="returnUrl" value="@Model.ReturnURl" />
                    <button type="submit" class="btn btn-small btn-danger">Remove</button>
                </form>
            </td>
        </tr>
            }
    </tbody>

    <tfoot>
        <tr>
            <td colspan="3">Total:</td>
            <td>@Model.basket.CalculateTotal().ToString("c")</td>
        </tr>
    </tfoot>
</table>


<div>
    <a class="btn btn-primary" href="@Model.ReturnURl">Continue Donating</a>
    <a class="btn btn-primary"  asp-controller="Donation" asp-action="Checkout">Checkout</a>
</div>

